<div class="widget-container">
  <div class="content">
    <h1>Hello, {{ name }}</h1>
    <input #userFocus *ngIf="!focusSet" [(ngModel)]="focus" placeholder="What is your focus today?"
           type="text">
    <slot name="quote"></slot>
    <ust-button
      *ngIf="!focusSet"
      btnText="Set Focus"
      (click)="setFocus(focus)"
      (btnClicked)="focusSetted()"
      style="margin-top: 10px;">
    </ust-button>
    <div *ngIf="focusSet" class="focus">
      <p>Your main focus today is: </p>
      <p>{{ focus }}</p>
    </div>
  </div>
</div>
